@font-face {
	font-family: uni-icon;
	src: url('~@/components/uni-icons/uni.ttf') format('truetype');
	font-weight: 400;
	font-display: "auto";
	font-style: normal
}

[class*=" uni-icon-"],
[class^=uni-icon-] {
	font-family: uni-icon !important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: baseline;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.uni-icon-shop:before {
	content: "\e609";
}

.uni-icon-headphones:before {
	content: "\e8bf";
}

.uni-icon-pulldown:before {
	content: "\e588";
}

.uni-icon-scan:before {
	content: "\e612";
}

.uni-icon-back:before {
	content: "\e471";
}

.uni-icon-forward:before {
	content: "\e470";
}

.uni-icon-refreshempty:before {
	content: "\e461";
}

.uni-icon-checkbox-filled:before {
	content: "\e442";
}

.uni-icon-checkbox:before {
	content: "\e7fa";
}

.uni-icon-loop:before {
	content: "\e565";
}

.uni-icon-arrowthindown:before {
	content: "\e585";
}

.uni-icon-arrowthinleft:before {
	content: "\e586";
}

.uni-icon-arrowthinright:before {
	content: "\e587";
}

.uni-icon-arrowthinup:before {
	content: "\e584";
}

.uni-icon-bars:before {
	content: "\e563";
}

.uni-icon-cart-filled:before {
	content: "\e7f4";
}

.uni-icon-cart:before {
	content: "\e7f5";
}

.uni-icon-arrowleft:before {
	content: "\e582";
}

.uni-icon-arrowdown:before {
	content: "\e581";
}

.uni-icon-arrowright:before {
	content: "\e583";
}

.uni-icon-arrowup:before {
	content: "\e580";
}

.uni-icon-eye-filled:before {
	content: "\e568";
}

.uni-icon-eye-slash-filled:before {
	content: "\e822";
}

.uni-icon-eye-slash:before {
	content: "\e823";
}

.uni-icon-eye:before {
	content: "\e824";
}

.uni-icon-reload:before {
	content: "\e462";
}

.uni-icon-hand-thumbsdown-filled:before {
	content: "\e83b";
}

.uni-icon-hand-thumbsdown:before {
	content: "\e83c";
}

.uni-icon-hand-thumbsup-filled:before {
	content: "\e83d";
}

.uni-icon-heart-filled:before {
	content: "\e83e";
}

.uni-icon-hand-thumbsup:before {
	content: "\e83f";
}

.uni-icon-heart:before {
	content: "\e840";
}

.uni-icon-mail-open-filled:before {
	content: "\e84d";
}

.uni-icon-mail-open:before {
	content: "\e84e";
}

.uni-icon-list:before {
	content: "\e562";
}

.uni-icon-map-pin:before {
	content: "\e85e";
}

.uni-icon-map-pin-ellipse:before {
	content: "\e864";
}

.uni-icon-paperclip:before {
	content: "\e567";
}

.uni-icon-images-filled:before {
	content: "\e87a";
}

.uni-icon-images:before {
	content: "\e87b";
}

.uni-icon-search:before {
	content: "\e466";
}

.uni-icon-settings:before {
	content: "\e560";
}

.uni-icon-cloud-download:before {
	content: "\e8e4";
}

.uni-icon-cloud-upload-filled:before {
	content: "\e8e5";
}

.uni-icon-cloud-upload:before {
	content: "\e8e6";
}

.uni-icon-cloud-download-filled:before {
	content: "\e8e9";
}

.uni-icon-more:before {
	content: "\e507";
}

.uni-icon-more-filled:before {
	content: "\e537";
}

.uni-icon-refresh:before {
	content: "\e407";
}

.uni-icon-refresh-filled:before {
	content: "\e437";
}

.uni-icon-undo-filled:before {
	content: "\e7d6";
}

.uni-icon-undo:before {
	content: "\e406";
}

.uni-icon-redo:before {
	content: "\e405";
}

.uni-icon-redo-filled:before {
	content: "\e7d9";
}

.uni-icon-camera:before {
	content: "\e301";
}

.uni-icon-camera-filled:before {
	content: "\e7ef";
}

.uni-icon-smallcircle-filled:before {
	content: "\e801";
}

.uni-icon-circle:before {
	content: "\e411";
}

.uni-icon-flag-filled:before {
	content: "\e825";
}

.uni-icon-flag:before {
	content: "\e508";
}

.uni-icon-gear-filled:before {
	content: "\e532";
}

.uni-icon-gear:before {
	content: "\e502";
}

.uni-icon-home:before {
	content: "\e500";
}

.uni-icon-info:before {
	content: "\e504";
}

.uni-icon-home-filled:before {
	content: "\e530";
}

.uni-icon-info-filled:before {
	content: "\e534";
}

.uni-icon-circle-filled:before {
	content: "\e441";
}

.uni-icon-chat-filled:before {
	content: "\e847";
}

.uni-icon-chat:before {
	content: "\e263";
}

.uni-icon-checkmarkempty:before {
	content: "\e472";
}

.uni-icon-locked-filled:before {
	content: "\e856";
}

.uni-icon-locked:before {
	content: "\e506";
}

.uni-icon-map-filled:before {
	content: "\e85c";
}

.uni-icon-map:before {
	content: "\e364";
}

.uni-icon-minus-filled:before {
	content: "\e440";
}

.uni-icon-mic-filled:before {
	content: "\e332";
}

.uni-icon-minus:before {
	content: "\e410";
}

.uni-icon-micoff:before {
	content: "\e360";
}

.uni-icon-mic:before {
	content: "\e302";
}

.uni-icon-clear:before {
	content: "\e434";
}

.uni-icon-smallcircle:before {
	content: "\e868";
}

.uni-icon-close:before {
	content: "\e404";
}

.uni-icon-closeempty:before {
	content: "\e460";
}

.uni-icon-paperplane:before {
	content: "\e503";
}

.uni-icon-paperplane-filled:before {
	content: "\e86e";
}

.uni-icon-image:before {
	content: "\e363";
}

.uni-icon-image-filled:before {
	content: "\e877";
}

.uni-icon-location-filled:before {
	content: "\e333";
}

.uni-icon-location:before {
	content: "\e303";
}

.uni-icon-plus-filled:before {
	content: "\e439";
}

.uni-icon-plus:before {
	content: "\e409";
}

.uni-icon-plusempty:before {
	content: "\e468";
}

.uni-icon-help-filled:before {
	content: "\e535";
}

.uni-icon-help:before {
	content: "\e505";
}

.uni-icon-navigate-filled:before {
	content: "\e884";
}

.uni-icon-navigate:before {
	content: "\e501";
}

.uni-icon-mic-slash-filled:before {
	content: "\e892";
}

.uni-icon-sound:before {
	content: "\e590";
}

.uni-icon-sound-filled:before {
	content: "\e8a1";
}

.uni-icon-spinner-cycle:before {
	content: "\e465";
}

.uni-icon-download-filled:before {
	content: "\e8a4";
}

.uni-icon-videocam-filled:before {
	content: "\e8af";
}

.uni-icon-upload:before {
	content: "\e402";
}

.uni-icon-upload-filled:before {
	content: "\e8b1";
}

.uni-icon-starhalf:before {
	content: "\e463";
}

.uni-icon-star-filled:before {
	content: "\e438";
}

.uni-icon-star:before {
	content: "\e408";
}

.uni-icon-trash:before {
	content: "\e401";
}

.uni-icon-compose:before {
	content: "\e400";
}

.uni-icon-videocam:before {
	content: "\e300";
}

.uni-icon-trash-filled:before {
	content: "\e8dc";
}

.uni-icon-download:before {
	content: "\e403";
}

.uni-icon-qq:before {
	content: "\e264";
}

.uni-icon-weibo:before {
	content: "\e260";
}

.uni-icon-weixin:before {
	content: "\e261";
}

.uni-icon-pengyouquan:before {
	content: "\e262";
}

.uni-icon-chatboxes:before {
	content: "\e203";
}

.uni-icon-chatboxes-filled:before {
	content: "\e233";
}

.uni-icon-email-filled:before {
	content: "\e231";
}

.uni-icon-email:before {
	content: "\e201";
}

.uni-icon-person-filled:before {
	content: "\e131";
}

.uni-icon-contact-filled:before {
	content: "\e130";
}

.uni-icon-person:before {
	content: "\e101";
}

.uni-icon-contact:before {
	content: "\e100";
}

.uni-icon-phone:before {
	content: "\e200";
}

.uni-icon-personadd-filled:before {
	content: "\e132";
}

.uni-icon-personadd:before {
	content: "\e102";
}

.uni-icon-phone-filled:before {
	content: "\e230";
}

.uni-icon-chatbubble-filled:before {
	content: "\e232";
}

.uni-icon-chatbubble:before {
	content: "\e202";
}
