/* 全局公共样式 */

body,
html {
    -webkit-user-select: auto;
    user-select: auto;
}

.uni-app--showleftwindow uni-main {
    position: relative;
    background-color: #f5f5f5;
}

.uni-app--showleftwindow uni-page-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 15px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

.uni-app--showleftwindow uni-page-body {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: -1px -1px 5px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
}

.pointer {
    cursor: pointer;
}

.flex-common {
    display: flex;
}

.flex-cc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-cl {
    display: flex;
    align-items: center;
    justify-content: left;
}

.flex-c-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.login-title {
    font-size: 24px;
    color: #333;
}

.p-lr-0 {
    padding-left: 0;
    padding-right: 0;
}

.uni-top-window {
    z-index: 998;
    overflow: visible;
}

.uni-tips {
    font-size: 12px;
    color: #666;
}

/* 容器 */
.container {
    padding: 15px;
}

/* 标题栏 */
.uni-header {
    padding: 0 15px;
    display: flex;
    height: 55px;
    /* margin: 0 -10px;
    margin-top: -10px; */
    align-items: center;
    border-bottom: 1px #f5f5f5 solid;
}

.uni-header-between {
    justify-content: space-between;
}

.uni-title {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.uni-sub-title {
    margin-top: 3px;
    font-size: 14px;
    color: #999;
}

.uni-link {
    color: #3A8EE6;
    cursor: pointer;
    text-decoration: underline;
}

/* 按钮样式 */
.uni-button-group {
    display: flex;
    align-items: center;
}

.uni-button {
    min-width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin: 0 5px;
}

/* 搜索框样式 */
.uni-search {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 10px;
    border: 1px #eee solid;
    margin-right: 10px;
    border-radius: 5px;
}



/* 分页容器 */

.uni-pagination-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
