// 隐藏 edge 浏览器的密码查看按钮
.input-box ::v-deep{
  .uni-input-input[type="password"] {
    &::-ms-reveal {
      display: none;
    }
  }
}

.uni-content {
  padding: 0 60rpx;
}

.login-logo {
	display: none;
}

/* #ifndef APP-NVUE */
@media screen and (min-width: 690px) {
  .uni-content {
	/* #ifndef H5 */
	padding: 0;
	max-width: 300px;
	margin-left: calc(50% - 200px);
	/* #endif */
	/* #ifdef H5 */
	margin: 0 auto;
	position: relative;
	top: 100px;
	padding: 30px 40px 80px 40px;
	max-width: 450px;
	max-height: 450px;
	border-radius: 10px;
	box-shadow: 0 0 20px #efefef;
	background-color: #FFF;
	/* #endif */
  }
  /* #ifdef H5 */
  .login-logo {
  	display: flex;
  	justify-content: center;
  }

  .login-logo image {
	width: 60px;
  	height: 60px;
  }

  .register-back{
	  display: none;
  }
  /* #endif */
}

.uni-content view {
  box-sizing: border-box;
}
/* #endif */



.title {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  padding: 18px 0;
  font-weight: 800;
  flex-direction: column;
}

.tip {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  color: #BDBDC0;
  font-size: 11px;
  margin: 6px 0;
}

.input-box {
  padding: 4px;
  background-color: #F8F8F8;
  border-radius: 0;
  font-size: 14px;
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  flex: 1;
}

.link {
  color: #04498c;
  cursor: pointer;
}

.uni-content ::v-deep .uni-forms-item__inner {
  padding-bottom: 8px;
}

.uni-btn {
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin: 15px 0 0 0;
	color: #FFF !important;
	border-radius: 5px;
}

.uni-body.uni_modules-uni-id-pages-pages-login-login-withoutpwd{
	height: auto !important;
}
